@use './../theme';

.container {
    .header-title {
        font-family: 'Playfair Display', serif !important;
        font-weight: normal;
        padding: 32px;
        color: theme.$md-sys-color-on-surface-variant;
    }

    .hero-text {
        font-family: 'Roboto', sans-serif;
        color: theme.$md-sys-color-on-surface;
        padding: 0;
    }

    .aboutaction {
        font-family: 'Playfair Display', serif !important;
        font-weight: normal;
        padding-block: 16px;
    }

    .aboutaction-text {
        font-family: 'Roboto', sans-serif;
        color: theme.$md-sys-color-on-surface;
        padding: 0;
    }
    
    ul {

        mat-card {
            margin: 15px;
            width: 15vw;
            height: 15vw;
    
            img {
                
            }
        }
    }

}
